<div class="columns is-centered mt-6">
  <div class="column is-one-third">
    <h4 class="is-size-2 has-text-weight-bold mb-3">新規作成できます</h4>
      <%= render 'form', entry: @entry %>
      <%= link_to 'Back', entries_path %>
  </div>
</div>